table, td, th { 
    font-family: "Meiryo UI" ; 
    font-size: 14px; 
    border: 1px #1C79C6 solid;  
    border-collapse: collapse; 
    padding: 3px; 
    margin-left: 20px;
}
h1{
    margin: 0 0 0.5em;
    padding: 3px;
    border-top: 3px double #B92A2C;
    border-bottom: 3px double #B92A2C;
    font-size: 18px ;
    font-weight: bold;
}

a { 
    text-decoration: none; 
}
th { 
    background-color :#68c672 
}
tr { 
    background-color : #ffffff
}
tr:nth-child(2n+1) { 
    background-color : #e8ffe2
}
tr:hover  { 
    background-color : #f4ffc9 
}
td.red  { 
    color : #ff0000 ; 
    font-weight : bold 
}
td.right{ 
    text-align: right;
}
